@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

:root {
  --Font0: Verdana, "Geneva", Tahoma, sans-serif;
  --Font1: "Passion One", "Cursive";
  --Font2: "Sriracha", cursive;
}

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  min-height: 100vh;
  background-color: darkgray;
  font-family: var(--Font0);
}

header {
  background-color: black;
  color: white;
  text-align: center;
}

header > h1 {
  padding-top: 50px;
  font-variant: small-caps;
  font-family: var(--Font1);
  font-size: 10vw;
}

header > p {
  padding-bottom: 50px;
  font-size: 2vw;
}

header a,
footer a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

header a:hover,
footer a:hover {
  text-decoration: underline;
}

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 30px;
  font-family: var(--Font2);
  font-size: 3.5vw;
  line-height: 2em;
}

section > p {
  padding-bottom: 2em;
}

.light {
  background-color: white;
  color: black;
}

.image {
  background-color: rgb(14, 14, 14);
  color: white;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 3px 3px 12px black;
}

#img01 {
  background-image: url(../imagens/background001.jpg);
  background-position: cover;
  background-position: right center;
}

#img02 {
  background-image: url(../imagens/background002.jpg);
}

.image > p {
  background-color: rgba(0, 0, 0, 0.466);
  display: inline-block;
  padding: 5px;
  text-shadow: 1px 1px 0px rgb(0, 0, 0);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
